body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:481px;
  top:30px;
  width:82px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:269px;
  top:170px;
  width:162px;
  height:170px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u3 {
  position:absolute;
  left:2px;
  top:77px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:792px;
  top:174px;
  width:62px;
  height:19px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:851px;
  top:170px;
  width:100px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:792px;
  top:221px;
  width:62px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:851px;
  top:217px;
  width:100px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:338px;
  top:612px;
  width:392px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:792px;
  top:261px;
  width:62px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:851px;
  top:294px;
  width:100px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:851px;
  top:259px;
  width:100px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:128px;
  width:920px;
  height:272px;
  opacity:0.3;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:272px;
}
#u21 {
  position:absolute;
  left:2px;
  top:128px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:793px;
  top:360px;
  width:79px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:882px;
  top:360px;
  width:69px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:21px;
  top:406px;
  width:239px;
  height:148px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:148px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:405px;
  width:200px;
  height:210px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:210px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:459px;
  top:406px;
  width:110px;
  height:210px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:210px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:560px;
  top:406px;
  width:200px;
  height:210px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:210px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
