body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
  background:inherit;
  background-color:rgba(104, 104, 104, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u32210 {
  position:absolute;
  left:2px;
  top:292px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u32211 {
  position:absolute;
  left:434px;
  top:320px;
  width:433px;
  height:50px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u32212 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u32213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  color:#C3C3C3;
}
#u32213 {
  position:absolute;
  left:533px;
  top:375px;
  width:235px;
  height:25px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  color:#C3C3C3;
}
#u32214 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u32215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#969696;
}
#u32215 {
  position:absolute;
  left:531px;
  top:570px;
  width:238px;
  height:16px;
  color:#969696;
}
#u32216 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u32217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:161px;
}
#u32217 {
  position:absolute;
  left:508px;
  top:143px;
  width:286px;
  height:161px;
}
#u32218 {
  position:absolute;
  left:2px;
  top:72px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
