body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:496px;
}
#u30427 {
  position:absolute;
  left:88px;
  top:17px;
  width:620px;
  height:496px;
}
#u30428 {
  position:absolute;
  left:2px;
  top:240px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30429 {
  position:absolute;
  left:239px;
  top:145px;
  width:47px;
  height:39px;
}
#u30430 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30431 {
  position:absolute;
  left:239px;
  top:105px;
  width:47px;
  height:39px;
}
#u30432 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30433 {
  position:absolute;
  left:239px;
  top:185px;
  width:47px;
  height:39px;
}
#u30434 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30435 {
  position:absolute;
  left:252px;
  top:196px;
  width:13px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30436 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u30437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30437 {
  position:absolute;
  left:255px;
  top:156px;
  width:7px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30438 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u30439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30439 {
  position:absolute;
  left:238px;
  top:333px;
  width:48px;
  height:39px;
}
#u30440 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30441 {
  position:absolute;
  left:254px;
  top:344px;
  width:7px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30442 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u30443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30443 {
  position:absolute;
  left:238px;
  top:373px;
  width:48px;
  height:39px;
}
#u30444 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30445 {
  position:absolute;
  left:254px;
  top:384px;
  width:7px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30446 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u30447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30447 {
  position:absolute;
  left:238px;
  top:453px;
  width:48px;
  height:39px;
}
#u30448 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30449 {
  position:absolute;
  left:254px;
  top:464px;
  width:7px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BDB5A3;
  text-align:left;
}
#u30450 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u30451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30451 {
  position:absolute;
  left:238px;
  top:413px;
  width:48px;
  height:39px;
}
#u30452 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
  background:inherit;
  background-color:rgba(25, 24, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30453 {
  position:absolute;
  left:107px;
  top:263px;
  width:84px;
  height:36px;
}
#u30454 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009AD7;
}
#u30455 {
  position:absolute;
  left:110px;
  top:271px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009AD7;
}
#u30456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u30457 {
  position:absolute;
  left:470px;
  top:131px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u30458 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u30459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u30459 {
  position:absolute;
  left:191px;
  top:271px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u30460 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
